<html>
  <head>
    <title>Tabler</title>
    <!--- nešto nešto -->
    
  </head>
  <body>
    <div>
      <a href="/">Tabler</a>
      <a href="{% url 'tables_list' %}">Popis stolova</a>
      <a href="#">Kontakt</a>
    </div>

    <div>
      {% block content %}
      {% endblock %}
    </div>
    
  </body>
</html>
