{% extends 'app/base.html' %}

{% block content %}
    <h1>Dobro došli na Tabler</h1>
    <h2>Odaberi svoj stol i naruči cugu</h2>

    <form action="{% url 'table_detail' %}" method="get">
      <input type="text" name="code" placeholder="Unesi kod stola">
      <input type="submit" value="Submit">
    </form>

{% endblock content %}
