{% extends 'app/base.html' %}

{% block content %}
  <h1>Popis slobodnih stolova</h1>
    <ul>
      {% for table in free_tables %}
      <li><a href="{% url 'table_detail' %}?code={{ table.code}}">Stol {{ table.number }}</a></li>
      {% empty %}
        <li>Nema slobodnih stolova</li>
      {% endfor %}
    </ul>
  <h1>Popis zauzetih stolova</h1>
    <ul>
      {% for table in occupied_tables %}
      <li><a href="{% url 'table_detail' %}?code={{ table.code }}">Stol {{ table.number }}</a></li>
      {% empty %}
        <li>Svi stolovi su slobodni</li>
      {% endfor %}
    </ul>
{% endblock content %}
