{% extends 'app/base.html' %}

{% block content %}
    <h1>Ovo je stol {{ stol.number }}</h1>

    <h1>Tvoja narudžba</h1>
    <ul>
      {% for item in items %}
      <p> {{ item.article.name }} {{ item.article.price }}</p>
      {% endfor %}
      
    </ul>


    <h2>Naruči cugu:</h2>
    <form action="/tables/{{ stol.id }}/order/" method="post">
      {% csrf_token %}
      {% for article in articles %}
      <p>
        <input type="checkbox" name="article" value="{{ article.id }}">
        {{ article.name }} ({{ article.price }} EUR)
      </p>
      {% endfor %}
      <input type="submit" value="Naruči">
    </form>
{% endblock content %}
