<html>
  <head>
    <title>VKolt|{{ venue.name }}</title>
    
  </head>
  <body>
    <a href="/">VKolt</a>
    <a href="/venues">Nazad na picerije</a>

    <h1>{{ venue.name }}</h1>
    <h1>Tvoja narudžba </h1>

    {% for pizza in pizzas %}
      <h2>
        {{ pizza.name }} ({{ pizza.price }} EUR)
      </h2>
      <p>{{ pizza.size }} - {{ pizza.description }}</p>
    {% endfor %}

    <h2>Ukupno: {{ order.total_price }} EUR</h2>

    
    
  </body>
</html>
