<html>
  <head>
    <title>Homepage</title>
  </head> 
  <body>
    <a href="/">VKolt</a>
    <h1>Dobro došli na VKolt</h1>
    <p>Imamo velik izbor pica</p>
    <h2>Odaberite piceriju iz popisa ispod</h2>
    {% for venue in venues %}
      <div>
        <a href="/venues/{{ venue.id }}">
          <h3>{{ venue.name }}</h3>
        </a>
        <p> {{ venue.address }} ({{ venue.working_hours }}) </p>
      </div>
    {% endfor %}
  </body>
</html>
