<html>
  <head>
    <title>VKolt|{{ venue.name }}</title>
    
  </head>
  <body>
    <a href="/">VKolt</a>
    <a href="/venues">Nazad na picerije</a>

    <h1>{{ venue.name }}</h1>
    <h2>{{ venue.address }}</h2>
    {% if venue.image %}
      <img src="{{ venue.image }}" style="width: 400px; height: auto;">
    {% endif %}

    <h3>Radno vrijeme</h3>
    <p>{{ venue.working_hours }}</p>

    <h1>Ponuda</h1>

    <form action="/venues/{{venue.id}}/order_confirmation/" method="POST">
      {% csrf_token %}
    {% for pizza in pizzas %}
      <h2>
        <input type="checkbox" name="pizza" value="{{ pizza.id }}">
        {{ pizza.name }} ({{ pizza.price }} EUR)
      </h2>
      <p>{{ pizza.size }} - {{ pizza.description }}</p>
    {% endfor %}
      <input type="submit" value="Naruči">
    </form>
    
  </body>
</html>
