<html>
<head>
  <title>
    {% block title %}
      MyImgur
    {% endblock title %}
  </title>
</head>
<body>
    <div>
      <a href="/">MyImgur</a>

    </div>
    <div>
      <h1>MyImgur</h1>
    </div>

    <div>
      {% block content %}{% endblock %}
    </div>

    <div>
      <p>Ovo je moj footer, Copyleft levara 2023</p>
    </div>
  
</body>
</html>
