{% extends 'images/base.html' %}

{% block title %}
  Add new image | MyImgur
{% endblock title %}

{% block content %}
  <h1>Add new image</h1>
  <form action="#" method="POST">
    {% csrf_token %}
    <input type="text" name="title" placeholder="Title"> <br>
    <input type="text" name="description" placeholder="Description">  <br>
    <input type="text" name="url" placeholder="URL"> <br>

    <input type="submit" value="Add image">
  </form>
{% endblock %}
