{% extends 'images/base.html' %}

{% block title %}
  {{ image.title }} | MyImgur
{% endblock title %}

{% block content %}
  <div>
    <h3>{{ image.title }}</h3>
    <img src="{{ image.url }}" style="width: 100%">
  </div>
{% endblock %}
