{% extends 'images/base.html' %}

{% block title %}
  Homepage | MyImgur
{% endblock title %}

{% block content %}
  <div>
    <a href="{% url 'image_create' %}">
      <h1>Dodaj novu sliku</h1>
    </a>
    {% for slika in slike %}
      <div>
        <a href="{% url 'image_detail' slika.id %}">
          <h3>{{ slika.title }}</h3>
        </a>
        <img src="{{ slika.url }}" style="width: 300px;">
      </div>
    {% endfor %}
  </div>
{% endblock %}
